################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeChallenge/.vs/CodeChallenge
/CodeChallenge/CodeChallenge/bin/Debug/net6.0
/CodeChallenge/CodeChallenge/obj
